body {
    background-color: #5cabff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #460074;
    font-size: 40px;
    font-weight: bold;
}

span {
    color: #fff;
    padding: 5px 15px;
    background-color: #005408;
    border-radius: 50px;
    font-size: 16px;
}

#input-paragraph {
    width: 80%;
    resize: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #bababa;
}

#output-paragraph {
    width: 80%;
    resize: none;
    border-radius: 4px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #1c1c1c;
}